This IPython Notebook is based on this kaggle kernel: [Kernel](https://www.kaggle.com/arthurtok/comprehensive-python-and-d3-js-favorita-analytics)

In [ ]:
# Importing the relevant libraries
import pandas as pd
import seaborn as sns
%matplotlib inline

In [4]:
import missingno as msno
import plotly.offline as py
py.init_notebook_mode(connected=True)

In [5]:
import plotly.graph_objs as go
import plotly.tools as tls
import numpy as np
from scipy.fftpack import fft
from matplotlib import pyplot as plt

In [6]:
# D3 modules
from IPython.core.display import display, HTML, Javascript
from string import Template
import IPython.display
import json

# Data loading

In [7]:
items = pd.read_csv("items.csv")
holiday_events = pd.read_csv("holidays_events.csv")
stores = pd.read_csv("stores.csv")
oil = pd.read_csv("oil.csv")
transactions = pd.read_csv("transactions.csv",parse_dates=['date'])
# I read in the full training data just to get prior information and here is the output:
# Output: "125,497,040 rows | 6 columns"
train = pd.read_csv("train.csv", nrows=6000000, parse_dates=['date'])

In [8]:
train.head()

   id       date  store_nbr  item_nbr  unit_sales  onpromotion
0   0 2013-01-01         25    103665         7.0          NaN
1   1 2013-01-01         25    105574         1.0          NaN
2   2 2013-01-01         25    105575         2.0          NaN
3   3 2013-01-01         25    108079         1.0          NaN
4   4 2013-01-01         25    108701         1.0          NaN